# Usual trash files
.idea/
*.iml

# Babel files (and node)
node_modules/
.babelrc
babelOutput.js
package-lock.json
package.json

# The server I use to test modification on mobile devices without having to commit
MobileTestingServer.js